@import "tailwindcss";

@theme {
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;

  --color-background: #111827;
  /* gray-900 */
  --color-foreground: #f9fafb;
  /* gray-50 */

  --color-card: #030712;
  /* gray-950 */
  --color-card-foreground: #f9fafb;

  --color-popover: #030712;
  --color-popover-foreground: #f9fafb;

  --color-primary: var(--color-red-700);
  --color-primary-foreground: #ffffff;

  --color-secondary: #1f2937;
  /* gray-800 */
  --color-secondary-foreground: #f9fafb;

  --color-muted: #1f2937;
  --color-muted-foreground: #9ca3af;
  /* gray-400 */

  --color-accent: #1f2937;
  --color-accent-foreground: #f9fafb;

  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #f9fafb;

  --color-border: #1f2937;
  --color-input: #1f2937;
  --color-ring: var(--color-red-700);

  --color-gray-900: #111827;
  --color-gray-950: #030712;

  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased overflow-x-hidden;
  }
}